<fieldset>
<legend>Page Content</legend>
<label for="title" class="hidden">Title</label>
<input type="text" name="page[title]" id="title" value="<%= @page.title %>">
<input type="checkbox" name="show_title" id="show_title" value="true" <%= "checked" if @page.show_title %>>
<label for="show_title">show/hide title</label>
<label for="content" class="hidden">Content</label>
<textarea rows="28" cols="80" name="page[content]" id="content"><%= @page.content %></textarea>
</fieldset>


<fieldset id="page-info">
<legend>Page Info</legend>
<label for="parent_id">Section:
<select id="parent_id" name="page[parent_id]">
<option value="">Main Section</option>
<% (Page.all - [@page]).each do |parent| %>
<option value="<%= parent.id %>" <%= "selected=\"selected\"" if @page.parent_id == parent.id %> >
<%= parent.title %>
</option>
<% end %>
</select></label>
<label for="position">Position:
<select id="position" name="page[position]">
<% 1.upto(@page.self_and_siblings.size) do |position| %>
<option value="<%= position %>" <%= "selected=\"selected\"" if position == @page.position %> >
<%= position.to_s %>
</option>
<% end %>
</select></label>
<label for="publish">Publish this page:
<input type="checkbox" name="publish" id="publish" value="true" <%= "checked" if @page.published? %>/></label>

<input type="submit" value="Save" class="button">
 or <a href="/pages" class="cancel">cancel</a>
 
 <%= @page.updated_at.strftime("<p>Last updated at %I:%M%p on %d %B %Y</p>") if @page.updated_at  %>
</fieldset>

</form>
