<li id="page_<%= page.id %>" class="page">
<%=  page.published? ? "<span class=\"status\">#{page.updated_at.strftime("%d %b %y")}</span>" : "<span class=\"status\">DRAFT</span>" %>
<%= link_to page.path,page.title %>

<% if admin? %>
<div class="buttons">
<%= link_to page.edit_path,"EDIT" %>
<%= link_to page.new_child_path,"+ PAGE" %>
<%= link_to page.delete_path,"DELETE" %>
</div>
<% end %>

<% unless page.children.empty? %>
<ul>
<% admin? ? children = page.children : children = page.children.published %>

<% children.each do |child| %>
<%= erb(:'milkshake/_page',{:layout=>false},{:page=>child}) %>
<% end %>

</ul>
<% end %>
</li>
