<!DOCTYPE html>
<html lang="en">
<head>
<title><%= page_title %></title>
<meta charset=utf-8 />
<%= css "milkshake/admin" if admin? %>
</head>
<body>

<h1><%= SITE_NAME %></h1>

<%= erb(:'milkshake/_dashboard',:layout=>false) if admin? %>

<%= yield %>

</body>
</html>
