<% if @page.show_title %>
<h2><%= @page.title %></h2>
<% end %>

<%= shakedown(@page.content).gsub('h1>','h3>').gsub('h2>','h4>') %>


<% if admin? %>
<ul class="milkshake-buttons">
<li><%= link_to @page.edit_path,"Edit" %></li>
<li><%= link_to @page.new_sibling_path,"+ Sibling" %></li>
<li><%= link_to @page.new_child_path,"+ Child" %></li>
<li><%= link_to @page.delete_path,"Delete" %></li>
</ul>
<% end %>
