<% if @page.show_title %>
<h2><%= @page.title %></h2>
<% end %>

<%= shakedown(@page.content).gsub('h1>','h3>').gsub('h2>','h4>') %>


<% if admin? %>
<ul class="milkshake-buttons">
<li><%= link_to @page.edit_path,"Edit",:class=>"milkshake-edit-button" %></li>
<li><%= link_to @page.new_sibling_path,"+ Sibling",:class=>"milkshake-add-button" %></li>
<li><%= link_to @page.new_child_path,"+ Child",:class=>"milkshake-add-button" %></li>
<li><%= link_to @page.delete_path,"Delete",:class=>"milkshake-delete-button" %></li>
</ul>
<% end %>
