<% if @page.show_title %>
<h1><%= @page.title %></h1>
<% end %>

<%= shakedown(@page.content).gsub('h1>','h3>').gsub('h2>','h4>') %>


<% if admin? %>
<%= link_to @page.edit_url,"[Edit this Page]" %>
<%= link_to @page.new_sibling_url,"[+ Sibling Page]" %>
<%= link_to @page.new_child_url,"[+ Child Page]" %>
<%= link_to @page.delete_url,"[Delete this Page]" %>
<% end %>
