<li id="page_<%= page.id %>" class="page">
<%= link_to page.url,page.title %>
<%= "<span class=\"draft\">DRAFT</span>" unless page.published? %>

<% if admin? %>
<div class="edit-buttons">
<%= link_to "/page/#{page.id}","EDIT" %>
<%= link_to "/new/page?section=#{page.id}","+ PAGE" %>
<%= link_to "/page/#{page.id}/delete","DELETE" %>
</div>
<% end %>

<% unless page.children.empty? %>
<ul class="pages">
<%= admin? ? render_partial(page.children) : render_partial(page.children.published) %>
</ul>
<% end %>
</li>
