<form action="/page/<%= @page.id %>" method="post">
<input type="hidden" name="_method" value="put" />
<%= render_partial :form,{ :page => @page } %>
</form>

<%= link_to "/admin","Cancel" %>

<h3>Page Info:</h3>
<p>
<% if @page.published_on %>
This page was published on <%= @page.published_on.strftime("%d %B %Y") %>
<% else %>
This page has not been published yet.
<% end %>
</p>
<p>
This page's permalink is <%= @page.permalink %>
</p>
<p>
This page's path is <%= @page.path %>
</p>
<p>
This page's level is <%= @page.level %>
</p>
<p>
This page's position is <%= @page.position %>
</p>

