<!DOCTYPE html>
<html lang="en">
<head>
<title><%= page_title %></title>
<meta charset=utf-8 />
<link rel="stylesheet" type="text/css" media="screen, projection" href="/stylesheets/milkshake.css" />
<style>

</style>
</head>
<body>
<div id="header">
<h1><%= SITE_NAME %></h1>
<%= navmenu(:main,"tabs") %>
</div>
<%= render_partial :dashboard if admin? %>

<%= yield %>

<div id="footer">
<p>Made with Milkshake.</p>
<p><%= link_to "/pages","Sitemap" %> | <%= link_to "/login","Log In" %></p>
</body>
</html>
